@model LDTE_Web.Models.Group
@using LDTE_Web.Models

@{
    //User Groups coming over in Group 'cause PFM
    var userout = Model.UserGroups.ToList();


    var itemsout = userout.Select(i => new SelectListItem
    {
        Value = i.UserGroupID.ToString(),
        Text = i.User.DisplayName.ToString()
    });


}


  
@using (Html.BeginForm("DeleteUserGroup", "Groups", FormMethod.Post, new { id = "this-form", name = "this-form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.GroupID)
            <!-- /.panel-heading -->
    <div class="col-sm-1">
        <div class="form-group">
            <input type="submit" value="<<" class="btn btn-default" />
        </div>
    </div>
    
    <div class="col-lg-5">
        <div class="form-group">
            <label>Member In Group</label><br/>
            @Html.ListBox("outid", itemsout, new { @class = "form-control", Multiple = "multiple", size = "5"  })
        </div>
    </div>
   
         
}



